html{
  font-size: 10px;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button{
  font-family: inherit;
  cursor: pointer;
}

.main{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  /*background: #000 url('%PUBLIC_URL%/img/bg.jpg') center no-repeat;*/
  background-size: cover;
  background-color: #ccc;
}
.counter{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 30rem;
  padding: 2rem 1rem;
  box-shadow: 0 0 2px rgba(0, 0, 0, .25);
  background-color: rgba(255, 255, 255, .7);
  border-radius: 1em;
}
.counter__title{
  margin: 0;
  line-height: 1;
  font-weight: 400;
  font-size: 1.6rem;
}
.counter__value{
  font-size: 10rem;
}
.counter__footer{
  display: flex;
  flex-direction: column;
}
.counter__main-btns{
  display: flex;
  border-radius: .5em;
  overflow: hidden;
}
.counter__additional-btns{
  display: flex;
  justify-content: center;
  margin-bottom: .7rem;
}
.counter__little-btn{
  background-color: #fff;
  border: 1px solid #ccc;
  font-size: 1rem;
  padding: 0.7rem 1.5rem;
  border-radius: .5em;
}
.counter__little-btn + .counter__little-btn {
  margin-left: .7rem;
}
.counter__little-btn:active{
  box-shadow: 0 0 4px rgba(0, 0, 0, .25) inset;
}
.counter__big-btn{  
  background-color: seagreen;
  border: none;
  width: 10rem;
  height: 7rem;
}
.counter__big-btn + .counter__big-btn {
  margin-left: .2rem;
}
.counter__big-btn:active{
  box-shadow: 0 0 20px rgba(0, 0, 0, .25) inset;
}
.counter__btn-text{
  font-size: 8rem;
  color: #fff;
  margin-top: -3rem;
  display: block;
}